
@model IEnumerable<NetCOREEntityFramework.Models.Funcionario>

<h2>Todos os funcionários</h2>
<a href="/Funcionarios/Cadastrar" class="btn btn-success">Novo Funcionário</a>
<hr>

@foreach (var funcionario in Model)
{
    <p>CPF: @funcionario.Cpf</p>
    <p>Nome: @funcionario.Nome</p>
    <p>Salário: @funcionario.Salario</p>
    <a href="/Funcionarios/Editar/@funcionario.Id" class="btn btn-success">Editar</a>
    <a href="/Funcionarios/Deletar/@funcionario.Id" class="btn btn-danger">Remover</a>
    <hr>
}